/*nav > ul > li{
	text-moderation:none;
}*/

.menuButton{
	float:left;
}
.cart{
	float:right;
}
.headerBox{
	/*border-bottom: 1px solid black;*/
	font-family: verdana;
	text-align:center;
	font-size: 22px;
	background-color: #E0E0E0;
}